body{
   background-color: rgb(14, 13, 13);

}
.t1{
    position: relative;
    background-image: url(globe2.gif);
    background-repeat: no-repeat;
    height: 500px;
    left: 400px;
    top: 50px;
}
